<%= render "partials/navbar" %>

<br>

<div class="container">
  <% if flash[:success] %>
    <% render "partials/alert" %>
  <% end %>

  <div class="card">
    <h3 class="card-header card-new">
      Rooms
    </h3>
    <%= render "partials/rooms" %>
    <div class="card-footer">
      Want to create a room?
      <%= link_to "Create Room", new_room_path, class: "btn btn-outline-success" %>
    </div>
  </div>

</div>