// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// navbar
.navbar-bg{
  background-color: #00303f;
}
.navbar-brand{
  color: #cae4db;
  padding: 20px 0;
}
.navbar-brand:hover{
  color: #f5f4f4;
}

// new
.card-new{
  background-color: #00303f;
  color: #cae4db;
}

// index - rooms list
.room-item{
  color: #cdac81;
  text-decoration: none;
}
.room-item:hover{
  color: #00303f;
}
.list-group-item{
  display: inline-flex;
}
.rooms-header{
  color: #cae4db;
  text-decoration: none;
}
.rooms-header:hover{
  color: #cdac81;
}

// message
.chat {
  // border: 1px solid #f5f4f4;
  // background: #f5f4f4;
  height: 62vh;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;
  padding: 0 10px;
}
.chat-input {
  // border-top: 0 none;
  border-radius: 0 0 5px 5px;
}
.btn-send{
  background-color: #00303f;
  color: #cae4db;
}
.btn-send:hover{
  color: #cdac81;
}
.chat-message-container {
  font-family: 'Ubuntu', sans-serif;
  padding: 4px;
  .message-content {
    padding: 6px 30px 6px 30px;
    border: 1px solid #cdac81;
    border-radius: 50px;
    background: #cae4db;
    color: #00303f;
  }
  & + .chat-message-container {
    margin-top: 10px;
  }
}

.text-right{
  text-align: right;
  margin-top: 0;
}
.text-bubble{
  margin-bottom: 0;
}